@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);

html,
body {
  height: 99%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303030;
  color: rgb(255, 255, 255);
  font-family: "Varela Round", Sans-serif;
  text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}

.main {
  text-align: center;
  z-index: 5;
}

p {
  font-size: 18px;
  margin-top: 0;
}

h1 {
  font-size: 95px;
  margin: 0;
}

h2 {
  margin: 0;
}

.sbt {
  background: linear-gradient(#ff4314, #f93163);
  padding: 0 12px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  outline: none;
  color: #FFF;
  font: 400 16px/2.5 Nunito, "Varela Round", Sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bk {
  background: linear-gradient(#ff4314, #f93163);
  padding: 0 12px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  outline: none;
  color: #FFF;
  font: 400 16px/2.5 Nunito, "Varela Round", Sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bk:hover {
  transform: scale(1.1);
}